
Flight Software/.vscode/settings.json
Flight Software/Division with floats benchmark.py
Flight Software/weather_api_key.txt
Flight Software/optimized code backup.py
Flight Software/__pycache__/code.cpython-310.pyc
.vscode/settings.json
Flight Logs/CALCv2/4-27-22/Launch 1/2022-04-27 19-16-45.mkv
Flight Software/Tax Fraud/.vscode/settings.json
Flight Software/CALC/log vs print perf.py
Flight Software/.vscode/launch.json
*.pro
Flight Software/CONTACT INFO IF FOUND.txt
Flight Software/Autism Ray/.vscode/settings.json
Flight Software/Autism Ray/.vscode/launch.json
Rockets/cone.csv


*.lck
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.kicad_prl
/PCBs/E22-900M_LoRa_breakout/E22-900M_LoRa_breakout/E22-900M_LoRa_breakout-backups
/PCBs/ChungRF/ChungRF-backups
