
Flight Software/.vscode/settings.json
Flight Software/Division with floats benchmark.py
Flight Software/weather_api_key.txt
Flight Software/optimized code backup.py
Flight Software/__pycache__/code.cpython-310.pyc
.vscode/settings.json
Flight Logs/CALCv2/4-27-22/Launch 1/2022-04-27 19-16-45.mkv
Flight Software/Tax Fraud/.vscode/settings.json
Flight Software/CALC/log vs print perf.py
Flight Software/.vscode/launch.json
*.pro
