
Flight Software/.vscode/settings.json
Flight Software/Division with floats benchmark.py
Flight Software/weather_api_key.txt
Flight Software/optimized code backup.py
Flight Software/__pycache__/code.cpython-310.pyc
